@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.p-side-10 {
  padding: 0 10px;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.display-flex {
  display: flex;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 1;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.align-items-center {
  justify-content: center;
  align-items: center;
}

/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex0 {
  flex: 0;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}

.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex0 {
  flex: 0;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}

/* Styles limited to ordemparanormal sheets */
.ordemparanormal {
  /* ITEM SHEET */
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* ITEMS IN ACTOR SHEET (AGENT) */
}
.ordemparanormal .item-form {
  font-family: "Roboto", sans-serif;
}
.ordemparanormal .header-identify {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ordemparanormal .header-identify h1, .ordemparanormal .header-identify h2, .ordemparanormal .header-identify h3, .ordemparanormal .header-identify h4 {
  border: 0;
}
.ordemparanormal .header-identify h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.ordemparanormal .header-identify h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.ordemparanormal .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.ordemparanormal .sheet-header .profile-img {
  flex: 0 0 48px;
  height: 48px;
  margin-right: 10px;
}
.ordemparanormal .sheet-header .header-fields {
  flex: 1;
}
.ordemparanormal .sheet-tabs {
  flex: 0;
}
.ordemparanormal .sheet-body,
.ordemparanormal .sheet-body .tab,
.ordemparanormal .sheet-body .tab .editor {
  width: 100%;
  min-height: 150px;
}
.ordemparanormal .sheet-body {
  overflow-y: auto;
  max-height: 398px !important;
}
.ordemparanormal .tab.skills,
.ordemparanormal .tab.inventory,
.ordemparanormal .tab.abilities,
.ordemparanormal .tab.rituals,
.ordemparanormal .tab.biography,
.ordemparanormal .tab.effects {
  overflow-y: auto;
}
.ordemparanormal .tox .tox-editor-container {
  background: #fff;
}
.ordemparanormal .tox .tox-edit-area {
  padding: 0 8px;
}
.ordemparanormal .skills {
  gap: 0px;
  font-size: 12px;
  padding: 0 2px;
  margin-top: 0;
}
.ordemparanormal .skills select, .ordemparanormal .skills input {
  border: none;
  height: 21px;
}
.ordemparanormal .skills .skill {
  padding: 3.3px 6px;
}
.ordemparanormal .skills .skill input {
  max-width: 30px;
}
.ordemparanormal .skills .skill i {
  padding: 0 5px;
}
.ordemparanormal .invalid {
  position: relative;
}
.ordemparanormal .item-alert {
  position: relative;
  border-radius: 5px;
  padding: 8px;
  margin: 10px 5px;
  background-color: aliceblue;
}
.ordemparanormal .inventory-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 24px;
  width: 100%;
  background-color: #eeede0;
}
.ordemparanormal .biography aside {
  padding: 2px;
}
.ordemparanormal .biography div:first-of-type {
  padding: 2px;
}
.ordemparanormal .biography .class, .ordemparanormal .biography .trail {
  font-size: 12px;
}
.ordemparanormal .biography fieldset {
  border: 1px solid rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
}
.ordemparanormal .biography .bio-desc .editor {
  min-height: 230px;
}
.ordemparanormal .biography .bio-goals .editor {
  min-height: 100px;
}
.ordemparanormal .sumWeight {
  position: relative;
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid #272727;
  border-radius: 3px;
  width: 95%;
  height: 14px;
}
.ordemparanormal .sumWeight .sumWeight-bar {
  display: block !important;
  margin-top: 0;
  margin-left: 0;
  border-radius: 1px;
  background-color: #272727;
  height: 12px;
  z-index: 10;
}
.ordemparanormal .sumWeight .sumWeight-barover {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block !important;
  border-radius: 1px;
  background-color: #7a1616;
  height: 12px;
  color: #FFF;
  font-size: 9px;
  z-index: 11;
}
.ordemparanormal .sumWeight .sumWeight-label, .ordemparanormal .sumWeight i {
  position: absolute;
  top: 0;
  font-size: 10px;
  z-index: 12;
  mix-blend-mode: difference;
  filter: invert(1);
}
.ordemparanormal .sumWeight i {
  color: rgb(0, 0, 0);
  left: 50%;
}
.ordemparanormal .sumWeight .sumWeight-label {
  right: 20px;
}
.ordemparanormal .inventory {
  padding-bottom: 24px;
  overflow: hidden !important;
}
.ordemparanormal .resource-label {
  font-weight: bold;
}
.ordemparanormal .specifications h4 {
  color: rgba(22, 22, 22, 0.4392156863);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
}
.ordemparanormal .combat h4 {
  color: rgba(22, 22, 22, 0.4392156863);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
}
.ordemparanormal .combat .resource-label {
  font-size: 13px;
}
.ordemparanormal .item-sheet-select {
  display: flex;
  flex: 1 10px;
  padding: 0 3px;
  align-items: center;
  flex-direction: row;
}
.ordemparanormal .item-sheet-select i {
  margin-left: 6px;
}
.ordemparanormal .item-sheet-space {
  flex: 2 10px;
  padding: 0 3px;
}
.ordemparanormal .item-sheet-space select {
  width: 100%;
}
.ordemparanormal .item-damage-bonus {
  flex: 2;
}
.ordemparanormal .minor-size {
  flex: 0 60px;
}
.ordemparanormal .item-sheet-controls {
  display: flex;
  flex: 0 0 20px;
  justify-content: flex-end;
}
.ordemparanormal .item-sheet-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.ordemparanormal .item-sheet .item-attribute {
  flex: 1;
  padding: 0 8px;
}
.ordemparanormal .item-sheet .item-skill {
  flex: 1;
  padding: 0 8px;
}
.ordemparanormal .item-sheet .item-bonus {
  flex: 2;
  padding: 0 8px;
}
.ordemparanormal .item-sheet-prop {
  text-align: center;
  font-size: 12px;
}
.ordemparanormal .item-info-title {
  margin-top: 10px;
}
.ordemparanormal .resource-type {
  border: 1px solid rgba(0, 0, 0, 0.2509803922);
  border-radius: 4px;
  padding: 10px;
}
.ordemparanormal .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.ordemparanormal .items-header > * {
  font-size: 14px;
  text-align: center;
}
.ordemparanormal .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.ordemparanormal .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.ordemparanormal .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ordemparanormal .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.ordemparanormal .items-list .item-name h3, .ordemparanormal .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.ordemparanormal .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.ordemparanormal .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.ordemparanormal .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.ordemparanormal .items-list .item:last-child {
  border-bottom: none;
}
.ordemparanormal .items-list .item .item-name {
  color: #191813;
}
.ordemparanormal .items-list .item .item-name .item-image {
  display: flex;
  align-items: center;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 1px;
}
.ordemparanormal .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.ordemparanormal .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.ordemparanormal .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.ordemparanormal .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.ordemparanormal .item-space {
  flex: 1 10px;
  padding: 0 8px;
}
.ordemparanormal .item-sheet {
  display: flex;
  flex: 1;
  background-color: aqua;
}
.ordemparanormal .item-image {
  perspective: 50px;
}
.ordemparanormal .item-image img {
  border: 1px solid rgba(0, 0, 0, 0.4392156863);
}
.ordemparanormal .slide {
  overflow: hidden;
}
.ordemparanormal .slide > img, .ordemparanormal .slide a {
  transition: 0.3s all ease-in-out;
  position: absolute;
}
.ordemparanormal .slide > a {
  margin-left: 4px;
  font-size: 20px;
  transform: translate(50px, 0);
}
.ordemparanormal .slide:hover > img {
  transform: translate(-200px, 0);
}
.ordemparanormal .slide:hover > a {
  transform: translate(0, 0);
}
.ordemparanormal .effects .item .effect-source,
.ordemparanormal .effects .item .effect-duration,
.ordemparanormal .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.ordemparanormal .effects .item .effect-controls {
  border: none;
}
.ordemparanormal .teste {
  background-color: black;
}
.ordemparanormal .no-scroll {
  overflow: hidden !important;
}
.ordemparanormal .scroll {
  overflow: auto !important;
}
.ordemparanormal .no-orange-hyperlink {
  color: initial;
  text-decoration: none;
}
.ordemparanormal .content-dialog {
  height: 500px;
  padding: 0 2px;
  line-height: 1.3;
}
.ordemparanormal .content-dialog li {
  padding-top: 2px;
  padding-bottom: 2px;
}
.ordemparanormal .content-dialog a:hover, .ordemparanormal .content-dialog a:focus {
  color: #000;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: pointer;
}
.ordemparanormal .content-dialog a h1, .ordemparanormal .content-dialog a h2, .ordemparanormal .content-dialog a h3, .ordemparanormal .content-dialog a h4 {
  border: 0;
  text-decoration: none;
  font-weight: 700;
}
.ordemparanormal .content-dialog a .discord {
  color: white;
  font-family: "PT Sans", "Roboto", "sans-serif";
}
.ordemparanormal .content-dialog a .discord p {
  font-size: medium;
  font-weight: 700;
}
.ordemparanormal .content-dialog::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.13);
  border: 0;
}
.ordemparanormal .announcement {
  position: relative;
  width: 100%;
  height: 156px;
  margin: 8px 0;
  border-radius: 5px;
  display: flex;
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}
.ordemparanormal .announcement p {
  width: 100%;
}
.ordemparanormal .content-dialog a:first-child .adverts {
  margin: 0;
}
.ordemparanormal .dialog-buttons {
  display: flex;
}
.ordemparanormal .dialog-buttons button {
  height: 36px;
  opacity: 0.4;
  transition: all 0.2s ease-in;
}
.ordemparanormal .dialog-buttons button:hover {
  opacity: 1;
}
.ordemparanormal .card-buttons button:first-of-type {
  margin-bottom: 2px;
}
.ordemparanormal .card-footer span {
  color: #161616;
  font-size: 11px;
  padding: 2px 3px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1882352941);
}

/*# sourceMappingURL=ordemparanormal_fvtt.css.map */
