@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.p-side-10 {
  padding: 0 10px;
}

#sidebar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

#sidebar::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: #782e22;
  border: 1px solid var(--color-border-highlight);
}

#sidebar::-webkit-scrollbar-track {
  box-shadow: 0 0 1px #999 inset;
  border-radius: 4px;
}

:root {
  scrollbar-width: initial !important;
  scrollbar-color: initial !important;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.display-flex {
  display: flex;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 1;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.align-items-center {
  justify-content: center;
  align-items: center;
}

/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex0 {
  flex: 0 !important;
}
.flexrow .flex1 {
  flex: 1 !important;
}
.flexrow .flex15 {
  flex: 1.5 !important;
}
.flexrow .flex2 {
  flex: 2 !important;
}
.flexrow .flex2-5 {
  flex: 2.5 !important;
}
.flexrow .flex2-6 {
  flex: 2.6 !important;
}
.flexrow .flex2-7 {
  flex: 2.7 !important;
}
.flexrow .flex2-8 {
  flex: 2.8 !important;
}
.flexrow .flex3 {
  flex: 3 !important;
}
.flexrow .flex4 {
  flex: 4 !important;
}

.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex0 {
  flex: 0;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}

/* Styles limited to ordemparanormal sheets */
.system-ordemparanormal {
  /* ITEM SHEET */
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* ITEMS IN ACTOR SHEET (AGENT) */
}
.system-ordemparanormal .item-form {
  font-family: "Roboto", sans-serif;
}
.system-ordemparanormal .header-identify {
  display: flex;
  justify-content: center;
  align-items: center;
}
.system-ordemparanormal .header-identify h1,
.system-ordemparanormal .header-identify h2,
.system-ordemparanormal .header-identify h3,
.system-ordemparanormal .header-identify h4 {
  border: 0;
}
.system-ordemparanormal .header-identify h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.system-ordemparanormal .header-identify h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.system-ordemparanormal .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.system-ordemparanormal .sheet-header .profile-img {
  flex: 0 0 48px;
  height: 48px;
  margin-right: 10px;
}
.system-ordemparanormal .sheet-header .header-fields {
  flex: 1;
}
.system-ordemparanormal .sheet-tabs {
  flex: 0;
}
.system-ordemparanormal .sheet-body,
.system-ordemparanormal .sheet-body .tab,
.system-ordemparanormal .sheet-body .tab .editor {
  width: 100%;
  min-height: 150px;
}
.system-ordemparanormal .sheet-body {
  overflow-y: auto;
}
.system-ordemparanormal .agent .sheet-body {
  max-height: 398px !important;
}
.system-ordemparanormal .tab.skills,
.system-ordemparanormal .tab.inventory,
.system-ordemparanormal .tab.abilities,
.system-ordemparanormal .tab.rituals,
.system-ordemparanormal .tab.biography,
.system-ordemparanormal .tab.effects {
  overflow-y: auto;
}
.system-ordemparanormal .tox .tox-editor-container {
  background: #fff;
}
.system-ordemparanormal .tox .tox-edit-area {
  padding: 0 8px;
}
.system-ordemparanormal .skills-content {
  font-size: 12px;
  padding: 0 2px;
  margin-top: 0;
  column-count: 2;
}
.system-ordemparanormal .skills-content select,
.system-ordemparanormal .skills-content input {
  border: none;
  height: 21px;
}
.system-ordemparanormal .skills-content .skill {
  padding: 3.3px 6px;
}
.system-ordemparanormal .skills-content .skill input {
  max-width: 30px;
}
.system-ordemparanormal .skills-content .skill i {
  padding: 0 5px;
}
.system-ordemparanormal .invalid {
  position: relative;
}
.system-ordemparanormal .item-alert {
  position: relative;
  border-radius: 5px;
  padding: 8px;
  margin: 10px 5px;
  background-color: aliceblue;
}
.system-ordemparanormal .inventory-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 24px;
  width: 100%;
  background-color: #eeede0;
}
.system-ordemparanormal .biography aside {
  padding: 2px;
}
.system-ordemparanormal .biography div:first-of-type {
  padding: 2px;
}
.system-ordemparanormal .biography .class,
.system-ordemparanormal .biography .trail {
  font-size: 12px;
}
.system-ordemparanormal .biography fieldset {
  border: 1px solid rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
}
.system-ordemparanormal .biography .bio-desc .editor {
  min-height: 230px;
}
.system-ordemparanormal .biography .bio-goals .editor {
  min-height: 100px;
}
.system-ordemparanormal .sumWeight {
  position: relative;
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid #272727;
  border-radius: 3px;
  width: 95%;
  height: 14px;
}
.system-ordemparanormal .sumWeight .sumWeight-bar {
  display: block !important;
  margin-top: 0;
  margin-left: 0;
  border-radius: 1px;
  background-color: #272727;
  height: 12px;
  z-index: 10;
}
.system-ordemparanormal .sumWeight .sumWeight-barover {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block !important;
  border-radius: 1px;
  background-color: #7a1616;
  height: 12px;
  color: #fff;
  font-size: 9px;
  z-index: 11;
}
.system-ordemparanormal .sumWeight .sumWeight-label,
.system-ordemparanormal .sumWeight i {
  position: absolute;
  top: 0;
  font-size: 10px;
  z-index: 12;
  mix-blend-mode: difference;
  filter: invert(1);
}
.system-ordemparanormal .sumWeight i {
  color: rgb(0, 0, 0);
  left: 50%;
}
.system-ordemparanormal .sumWeight .sumWeight-label {
  right: 20px;
}
.system-ordemparanormal .inventory {
  padding-bottom: 24px;
  overflow: hidden !important;
}
.system-ordemparanormal .ritual-dt {
  margin: 5px;
  border: 1px solid #b8b8b8;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 5px;
  text-align: center;
}
.system-ordemparanormal .ritual-dt p {
  font-family: "Optima Nova LT PRO", "Roboto", sans-serif, "Arial";
  font-weight: bold;
}
.system-ordemparanormal .threat #senses, .system-ordemparanormal .threat #defenses, .system-ordemparanormal .threat #attributes, .system-ordemparanormal .threat #general,
.system-ordemparanormal .threat #disturbingPresence, .system-ordemparanormal .threat #actions, .system-ordemparanormal .threat #abilities {
  padding: 5px;
  border: 1px solid rgba(39, 39, 39, 0.2509803922);
  margin-top: 5px;
  border-radius: 5px;
}
.system-ordemparanormal .threat #senses .display-flex, .system-ordemparanormal .threat #defenses .display-flex, .system-ordemparanormal .threat #attributes .display-flex, .system-ordemparanormal .threat #general .display-flex,
.system-ordemparanormal .threat #disturbingPresence .display-flex, .system-ordemparanormal .threat #actions .display-flex, .system-ordemparanormal .threat #abilities .display-flex {
  align-items: center;
}
.system-ordemparanormal .threat .miniInput {
  width: 32px;
}
.system-ordemparanormal .threat #attributes {
  justify-content: space-between;
}
.system-ordemparanormal .threat #attributes .pre, .system-ordemparanormal .threat #attributes .vit, .system-ordemparanormal .threat #attributes .str, .system-ordemparanormal .threat #attributes .int, .system-ordemparanormal .threat #attributes .dex {
  text-align: center;
}
.system-ordemparanormal .threat #attributes .pre input, .system-ordemparanormal .threat #attributes .vit input, .system-ordemparanormal .threat #attributes .str input, .system-ordemparanormal .threat #attributes .int input, .system-ordemparanormal .threat #attributes .dex input {
  height: 32px;
}
.system-ordemparanormal .threat label + input {
  margin-left: 5px;
}
.system-ordemparanormal .threat #announcement a {
  color: #272727;
}
.system-ordemparanormal .threat #announcement .link-alert {
  padding: 0 10px;
}
.system-ordemparanormal .threat #descriptions div {
  margin: 8px 0;
}
.system-ordemparanormal .threat #descriptions div textarea {
  height: 200px;
}
.system-ordemparanormal .threat #actions textarea, .system-ordemparanormal .threat #abilities textarea {
  height: 300px;
}
.system-ordemparanormal .resource-label {
  font-weight: bold;
}
.system-ordemparanormal .specifications h4 {
  color: rgba(22, 22, 22, 0.4392156863);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
}
.system-ordemparanormal .combat h4 {
  color: rgba(22, 22, 22, 0.4392156863);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
}
.system-ordemparanormal .combat .resource-label {
  font-size: 13px;
}
.system-ordemparanormal .item-sheet-form {
  display: flex;
  flex: 1 10px;
  padding: 0 3px;
  margin: 2px 0px;
  align-items: center;
  flex-direction: row;
}
.system-ordemparanormal .item-sheet-form input, .system-ordemparanormal .item-sheet-form select {
  width: 100%;
}
.system-ordemparanormal .item-sheet-form i {
  margin-left: 6px;
}
.system-ordemparanormal .item-sheet-space {
  flex: 2 10px;
  padding: 0 3px;
}
.system-ordemparanormal .item-sheet-space select {
  width: 100%;
}
.system-ordemparanormal .item-damage-bonus {
  flex: 2;
}
.system-ordemparanormal .minor-size {
  flex: 0 60px;
}
.system-ordemparanormal .item-sheet-controls {
  display: flex;
  flex: 0 0 20px;
  justify-content: flex-end;
}
.system-ordemparanormal .item-sheet-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.system-ordemparanormal .item-sheet .item-attribute {
  flex: 1;
  padding: 0 8px;
}
.system-ordemparanormal .item-sheet .item-skill {
  flex: 1;
  padding: 0 8px;
}
.system-ordemparanormal .item-sheet .item-bonus {
  flex: 2;
  padding: 0 8px;
}
.system-ordemparanormal .item-sheet-prop {
  text-align: center;
  font-size: 12px;
}
.system-ordemparanormal .item-info-title {
  margin-top: 10px;
}
.system-ordemparanormal .resource-type {
  border: 1px solid rgba(0, 0, 0, 0.2509803922);
  border-radius: 4px;
  padding: 10px;
}
.system-ordemparanormal .damage-box {
  color: rgba(0, 0, 0, 0.4392156863);
  padding: 6px;
  text-align: center;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2509803922);
}
.system-ordemparanormal .damage-box a:hover {
  color: #555;
}
.system-ordemparanormal .damage-control .fa-trash {
  font-size: 12px;
}
.system-ordemparanormal .delete-damage, .system-ordemparanormal .promote-part {
  margin-right: 15px;
}
.system-ordemparanormal .horizontal {
  position: relative;
  bottom: 15px;
  padding-bottom: 1px;
  margin-left: 24px;
  margin-bottom: 0px;
  box-shadow: 1px -1px 0 0.2px #7a7971 inset;
  border: solid transparent;
  border-width: 0 0 0px 0px;
}
.system-ordemparanormal .vertical {
  position: relative;
  height: 28px;
  left: 24px;
  width: 1px;
  box-shadow: 1px -1px 0 0.2px #7a7971 inset;
  border: solid transparent;
  border-width: 0 0 0px 0px;
}
.system-ordemparanormal .damage-part a {
  width: 10px;
}
.system-ordemparanormal .damage-part:last-of-type .vertical {
  height: 14px !important;
  opacity: 0;
}
.system-ordemparanormal .damage-part:last-of-type .horizontal {
  height: 15px !important;
}
.system-ordemparanormal .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.system-ordemparanormal .items-header > * {
  font-size: 14px;
  text-align: center;
}
.system-ordemparanormal .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.system-ordemparanormal .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.system-ordemparanormal .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.system-ordemparanormal .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.system-ordemparanormal .items-list .item-name h3,
.system-ordemparanormal .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.system-ordemparanormal .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.system-ordemparanormal .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.system-ordemparanormal .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.system-ordemparanormal .items-list .item:last-child {
  border-bottom: none;
}
.system-ordemparanormal .items-list .item .item-name {
  color: #191813;
}
.system-ordemparanormal .items-list .item .item-name .item-image {
  display: flex;
  align-items: center;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 1px;
}
.system-ordemparanormal .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.system-ordemparanormal .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.system-ordemparanormal .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.system-ordemparanormal .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.system-ordemparanormal .item-space {
  flex: 1 20px;
  padding: 0 8px;
}
.system-ordemparanormal .item-sheet {
  display: flex;
  flex: 1;
  background-color: aqua;
}
.system-ordemparanormal .item-image {
  perspective: 50px;
}
.system-ordemparanormal .item-image img {
  border: 1px solid rgba(0, 0, 0, 0.4392156863);
}
.system-ordemparanormal .slide {
  overflow: hidden;
}
.system-ordemparanormal .slide > img,
.system-ordemparanormal .slide a {
  transition: 0.3s all ease-in-out;
  position: absolute;
}
.system-ordemparanormal .slide > a {
  margin-left: 4px;
  font-size: 20px;
  transform: translate(50px, 0);
}
.system-ordemparanormal .slide:hover > img {
  transform: translate(-200px, 0);
}
.system-ordemparanormal .slide:hover > a {
  transform: translate(0, 0);
}
.system-ordemparanormal .effects .item .effect-source,
.system-ordemparanormal .effects .item .effect-duration,
.system-ordemparanormal .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.system-ordemparanormal .effects .item .effect-controls {
  border: none;
}
.system-ordemparanormal .teste {
  background-color: black;
}
.system-ordemparanormal .no-scroll {
  overflow: hidden !important;
}
.system-ordemparanormal .scroll {
  overflow: auto !important;
}
.system-ordemparanormal .no-orange-hyperlink {
  color: initial;
  text-decoration: none;
}
.system-ordemparanormal .content-dialog {
  height: 500px;
  padding: 0 2px;
  line-height: 1.3;
}
.system-ordemparanormal .content-dialog li {
  padding-top: 2px;
  padding-bottom: 2px;
}
.system-ordemparanormal .content-dialog a {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.system-ordemparanormal .content-dialog a:hover, .system-ordemparanormal .content-dialog a:focus {
  color: #000;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: pointer;
}
.system-ordemparanormal .content-dialog a h1,
.system-ordemparanormal .content-dialog a h2,
.system-ordemparanormal .content-dialog a h3,
.system-ordemparanormal .content-dialog a h4 {
  border: 0;
  text-decoration: none;
  font-weight: 700;
}
.system-ordemparanormal .content-dialog a .discord {
  color: white;
  text-shadow: 1px 1px 1px #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Sans", "Roboto", "sans-serif";
}
.system-ordemparanormal .content-dialog a .discord p {
  font-size: medium;
  font-weight: 700;
}
.system-ordemparanormal .content-dialog::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.13);
  border: 0;
}
.system-ordemparanormal .announcement {
  position: relative;
  width: 100%;
  height: 156px;
  margin: 8px 0;
  border-radius: 5px !important;
  display: flex;
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}
.system-ordemparanormal .announcement p {
  width: 100%;
}
.system-ordemparanormal .content-dialog a:first-child .adverts {
  margin: 0;
}
.system-ordemparanormal .dialog-buttons {
  display: flex;
}
.system-ordemparanormal .dialog-buttons button {
  height: 36px;
  opacity: 0.4;
  transition: all 0.2s ease-in;
}
.system-ordemparanormal .dialog-buttons button:hover {
  opacity: 1;
}
.system-ordemparanormal .dialog-credits li {
  padding-top: 2px;
  padding-bottom: 2px;
}
.system-ordemparanormal .dialog-credits a:hover, .system-ordemparanormal .dialog-credits a:focus {
  color: #000;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: pointer;
}
.system-ordemparanormal .dialog-credits a h1,
.system-ordemparanormal .dialog-credits a h2,
.system-ordemparanormal .dialog-credits a h3,
.system-ordemparanormal .dialog-credits a h4 {
  border: 0;
  text-decoration: none;
  font-weight: 700;
}
.system-ordemparanormal .dialog-credits a[href] {
  color: #464646;
}
.system-ordemparanormal .card-buttons button:first-of-type {
  margin-bottom: 2px;
}
.system-ordemparanormal .card-footer span {
  color: #161616;
  font-size: 11px;
  padding: 2px 3px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1882352941);
}
.system-ordemparanormal .chat-card details {
  padding: 4px 4px;
  border: 1px solid #b8b8b8;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 5px;
  font-family: "Warnock Pro", "Roboto", sans-serif, "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.system-ordemparanormal .chat-card details summary {
  margin-left: 4px;
}
.system-ordemparanormal .chat-card span.element {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  padding: 1px 4px;
  margin-top: 4px;
  margin-bottom: 1px;
  text-transform: uppercase;
  font-family: "Optima Nova LT PRO", "Roboto", sans-serif, "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}
.system-ordemparanormal .chat-card span.element.death {
  background-color: #000;
}
.system-ordemparanormal .chat-card span.element.blood {
  background-color: #b1161a;
}
.system-ordemparanormal .chat-card span.element.knowledge {
  background-color: #bf9100;
}
.system-ordemparanormal .chat-card span.element.energy {
  background-color: #9a00fd;
}
.system-ordemparanormal .chat-card span.element.fear {
  background-color: #b8b8b8;
}
.system-ordemparanormal .chat-card .ritual-info {
  font-family: "Optima Nova LT PRO", "Roboto", sans-serif, "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.system-ordemparanormal .chat-card .ritual-info strong {
  color: #b92730;
}
.system-ordemparanormal .chat-card table tr {
  text-align: center;
}
.system-ordemparanormal .chat-card table tr th,
.system-ordemparanormal .chat-card table tr td {
  padding: 5px;
}
.system-ordemparanormal .chat-card .header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 6px 0;
}
.system-ordemparanormal .chat-card .header h2 {
  padding: 0 6px;
  margin: 0;
  border: 0;
}
.system-ordemparanormal .dice-roll .dice-total.success {
  color: inherit;
  background: #c7d0c0;
  border: 1px solid #006c00;
}
.system-ordemparanormal .dice-roll .dice-total.failure {
  color: inherit;
  background: #ffdddd;
  border: 1px solid #6e0000;
}
.system-ordemparanormal .dice-roll .dice-total.critical {
  color: green;
}
.system-ordemparanormal .dice-roll .dice-total.critical small {
  font-size: 15px;
}
.system-ordemparanormal .dice-roll .dice-total.fumble {
  color: red;
}
.system-ordemparanormal .op.system-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.system-ordemparanormal .op.system-badge img {
  border: 0;
}
.system-ordemparanormal .op.system-badge p {
  margin: 0;
}
.system-ordemparanormal .op.system-badge a[href] {
  color: var(--color-text-light-highlight);
  text-decoration: none;
}
.system-ordemparanormal .op.sidebar-heading {
  margin: 6px 0;
  margin-bottom: 0 !important;
  border-top: 1px solid var(--color-border-dark-4);
  border-bottom: 1px solid var(--color-border-dark-4);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
}
.system-ordemparanormal .op.sidebar-heading .links {
  list-style: none;
  display: flex;
  gap: 8px;
  margin: 0;
}
.system-ordemparanormal .op.sidebar-heading h2 {
  background-color: initial;
  border: initial;
  margin: 0;
}
.system-ordemparanormal .additionalContent .selectize-input {
  max-width: 330px !important;
  height: 40px;
  display: inline-flex;
  text-wrap: wrap;
  overflow: hidden;
}
.system-ordemparanormal .additionalContent .selectize-input .item {
  width: 100px !important;
}
.system-ordemparanormal .additionalContent label {
  font-weight: 400 !important;
  line-height: 1.25;
}
.system-ordemparanormal .additionalContent p {
  font-size: 12px;
  line-height: 16px;
  color: #4b4a44;
  margin: 3px 0;
  text-align: justify;
  hyphens: auto;
}
.system-ordemparanormal .additionalContent input {
  max-height: 10px !important;
}
.system-ordemparanormal .additionalContent input::placeholder {
  opacity: 0.4;
}
.system-ordemparanormal .additionalContent .container > div {
  padding: 10px;
}
.system-ordemparanormal .additionalContent .flexe {
  display: flex !important;
}

/*# sourceMappingURL=ordemparanormal_fvtt.css.map */
