@use "variables";

@mixin element-invisible {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

@mixin hide {
	display: none;
}

// Mixins
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin item-header {
	height: 28px;
	margin: 2px 0;
	padding: 0;
	align-items: center;
	background: variables.$bg-transparent-light;
	border: variables.$border-groove;
	font-weight: bold;
}
