<div class="dialog-credits">
	<p>
		A seguir a lista de algumas das pessoas que participaram do desenvolvimento do sistema para o Ordem Paranormal RPG no
		Foundry Virtual Tabletop.
	</p>
	<p>
		Não deixando de citar os devidos créditos a
		<a href="https://twitter.com/cellbit" target="_blank">Rafael Lange (Cellbit)</a> e toda a equipe da
		<a href="https://jamboeditora.com.br/" target="_blank">Jambô</a> pelo desenvolvimento do universo e livro de regras.
	</p>
	<ul>
		<li>
			<strong
				>Wendel Henrique (<i class="fa-brands fa-twitter"></i>
				<a href="https://twitter.com/EuSouOWendel" target="_blank">souowendel</a>): </strong
			>principal programador, diagramador e desenvolvedor do sistema de Ordem Paranormal RPG para o Foundry;
		</li>
	</ul>
	<h4><strong>Colaboradores</strong></h4>
	<ul>
		<li>
			<strong
				>Jojo (<i class="fa-brands fa-twitter"></i>
				<a href="https://twitter.com/ciconiaborns" target="_blank">ciconiaborns</a>): </strong
			>tradução parcial do sistema para o Inglês;
		</li>
		<li>
			<strong>Marcos Miranda (<i class="fa-brands fa-discord"></i> .nyazi): </strong>vetorização e criação de ícones para
			compêndio.
		</li>
		<i
			>Alguns ícones do sistema foram feitos por Delapouite e Lorc. Disponíveis em
			<a href="https://game-icons.net/" target="_blank">game-icons</a>.</i
		>
	</ul>
</div>
