<ol class="items-list">
	<div class="ritual-dt">
		<p>{{localize "ordemparanormal.ritualdt"}} <span>{{system.ritual.DT}}</span></p>
	</div>
	{{#each rituals.valid as |rituals circle|}}
	<li class="item flexrow items-header">
		{{#ifEquals circle 5}}
		<div class="item-name"></div>
		{{else}}
		<div class="item-name">{{circle}}º {{localize "ordemparanormal.circle"}}</div>
		{{/ifEquals}}
		<div class="item-space">{{localize "ordemparanormal.range"}}</div>
		<div class="item-space">{{localize "ordemparanormal.target"}}</div>
		<div class="item-space">{{localize "ordemparanormal.duration"}}</div>
		<div class="item-space">{{localize "ordemparanormal.resistance"}}</div>
		<div class="item-controls">
			<a
				class="item-control item-create"
				title="Criar ritual de {{circle}}º círculo"
				data-type="ritual"
				data-circle="{{circle}}">
				<i class="fas fa-plus"></i>
			</a>
		</div>
	</li>
	{{#each rituals as |item id|}}
	<li class="item flexrow" data-item-id="{{item._id}}">
		<div class="item-name flexrow">
			<div class="item-image slide">
				<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
				<a class="rollable" data-roll-type="item">
					<i class="fa-solid fa-dice-d20"></i>
				</a>
			</div>
			<h4>{{item.name}}</h4>
		</div>
		<div class="item-space item-prop">
			{{#if item.system.range}}{{localize (concat "ordemparanormal.rangeChoices." item.system.range)}} {{else}} — {{/if}}
		</div>
		<div class="item-space item-prop">
			{{#if item.system.target}}{{item.system.targetQtd}} {{localize (concat "ordemparanormal.targetChoices."
			item.system.target)}} {{else}} — {{/if}}
		</div>
		<div class="item-space item-prop">
			{{#if item.system.duration}}{{localize (concat "ordemparanormal.durationChoices." item.system.duration)}} {{else}} —
			{{/if}}
		</div>
		<div class="item-space item-prop">
			{{#if item.system.resistance}} {{#if item.system.skillResis}}{{localize (concat "ordemparanormal.skill."
			item.system.skillResis)}}{{/if}} {{localize (concat "ordemparanormal.resistanceChoices." item.system.resistance)}}
			{{else}} — {{/if}}
		</div>
		<div class="item-controls">
			<a class="item-control send-chat" title="Enviar para o chat"><i class="fas fa-message"></i></a>
			<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
		</div>
	</li>
	{{/each}} {{/each}} {{#if rituals.invalid }}
	<section class="invalid">
		<div class="item-alert">Os itens abaixo não se encaixam nas categorias acima.</div>
		<ol class="items-list">
			<li class="item flexrow items-header">
				<div class="item-name"></div>
				<div class="item-space">{{localize "ordemparanormal.range"}}</div>
				<div class="item-space">{{localize "ordemparanormal.area"}}</div>
				<div class="item-space">{{localize "ordemparanormal.duration"}}</div>
				<div class="item-space">{{localize "ordemparanormal.resistance"}}</div>
				<div class="item-controls">
					<a
						class="item-control item-create"
						title="Criar ritual de {{circle}}º círculo"
						data-type="ritual"
						data-circle="{{circle}}">
						<i class="fas fa-plus"></i>
					</a>
				</div>
			</li>
			{{#each rituals.invalid as |item id|}}
			<li class="item flexrow" data-item-id="{{item._id}}">
				<div class="item-name flexrow">
					<div class="item-image">
						<a class="rollable" data-roll-type="item"
							><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"
						/></a>
					</div>
					<h4>{{item.name}}</h4>
				</div>
				<div class="item-space item-prop">{{item.system.range}}</div>
				<div class="item-space item-prop">{{item.system.areaEffect}}</div>
				<div class="item-space item-prop">{{item.system.duration}}</div>
				<div class="item-space item-prop">{{item.system.resistance}}</div>
				<div class="item-controls">
					<a class="item-control send-chat" title="Enviar para o chat"><i class="fas fa-message"></i></a>
					<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
					<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
				</div>
			</li>
			{{/each}}
		</ol>
	</section>
	{{/if}}
</ol>
