<section>
	<div class="skills-content">
		{{#each system.skills as |skillName key|}}
		<div class="skill flexrow flex-group-center">
			<label
				for="system.skills.{{key}}.value"
				class="resource-label rollable flexlarge align-left"
				data-roll="{{skillName.formula}}"
				data-label="{{skillName.label}}">
				{{skillName.label}}
			</label>
			<label class="flex0 p-side-10">
				<strong>{{toUpperCase (localize (concat "ordemparanormal." skillName.attr.[0] "Abv")) }}</strong>
			</label>
			<select name="system.skills.{{key}}.degree.label" data-dtype="String">
				{{ selectOptions ../optionDegree selected=skillName.degree.label localize=true }}
			</select>
			<i class="fa-solid fa-plus flex0"></i>
			<input type="text" name="system.skills.{{key}}.mod" value="{{skillName.mod}}" data-dtype="Number" />
		</div>
		{{/each}}
	</div>
</section>
