.window-app {
	font-family: $font-primary;
}

.rollable {
	&:hover,
	&:focus {
		color: #000;
		text-shadow: 0 0 10px red;
		cursor: pointer;
	}
}

.p-side-10 {
	padding: 0 10px;
}

.directory-list {

	&::-webkit-scrollbar {
		width: 3px;
		height: 6px;
	}

	&::-webkit-scrollbar-thumb {
		outline: none !important;
		border-radius: 3px !important;
		background: #782e22 !important;
		border: 1px solid var(--color-border-highlight) !important;
	}

	&::-webkit-scrollbar-track {
		box-shadow: 0 0 1px #999 inset;
		border-radius: 4px;
	}
}

:root {
	scrollbar-width: initial !important;
	scrollbar-color: initial !important;
}
