<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img
			class="profile-img"
			src="{{actor.img}}"
			data-edit="img"
			title="{{actor.name}}"
			height="100"
			width="100"
		/>
		<div class="header-fields">
			<h1 class="charname">
				<input
					name="name"
					type="text"
					value="{{actor.name}}"
					placeholder="Name"
				/>
			</h1>
			{{!-- The grid classes are defined in scss/global/_grid.scss. To
			use, use both the "grid" and "grid-Ncol" class where "N" can be any
			number from 1 to 12 and will create that number of columns. --}}
			<div class="resources grid grid-3col">
				{{!-- "flex-group-center" is also defined in the _grid.scss file
				and it will add a small amount of padding, a border, and will
				center all of its child elements content and text. --}}
				<div class="resource flex-group-center">
					<label for="data.PV.value" class="resource-label">
						{{localize 'ordemparanormal.PV'}}
					</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input
							type="text"
							name="data.PV.value"
							value="{{data.PV.value}}"
							data-dtype="Number"
						/>
						<span> / </span>
						<input
							type="text"
							name="data.PV.max"
							value="{{data.PV.max}}"
							data-dtype="Number"
						/>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="data.SAN.value" class="resource-label"
						>{{localize 'ordemparanormal.San'}}
					</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input
							type="text"
							name="data.SAN.value"
							value="{{data.SAN.value}}"
							data-dtype="Number"
						/>
						<span> / </span>
						<input
							type="text"
							name="data.SAN.max"
							value="{{data.SAN.max}}"
							data-dtype="Number"
						/>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="data.PE.value" class="resource-label"
						>{{localize 'ordemparanormal.PE'}}
					</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input
							type="text"
							name="data.PE.value"
							value="{{data.PE.value}}"
							data-dtype="Number"
						/>
						<span> / </span>
						<input
							type="text"
							name="data.PE.max"
							value="{{data.PE.max}}"
							data-dtype="Number"
						/>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="data.PE.value" class="resource-label"
						>{{localize 'ordemparanormal.pePerRound'}}
					</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input
							type="number"
							name="data.PE.perRound"
							value="{{data.PE.perRound}}"
							data-dtype="Number"
							disabled
						/>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="data.NEX.value" class="resource-label">
						{{localize 'ordemparanormal.NEX'}}
					</label>
					<div class="resource-content flexrow flex-center flex-between">
						{{numberInputFVTT data.NEX.value name="data.NEX.value" step=1 min=0 max=99}}
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="{{localize 'ordemparanormal.className'}}" class="resource-label">
						{{localize 'ordemparanormal.className'}}
					</label>
					<div class="resource-content flexrow flex-center flex-between">
						<select name="data.class" data-dtype="String">
							{{
								selectOptions optionClass
								selected=data.class 
								localize=true
								blank="—"
							}}
						</select>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="{{localize 'ordemparanormal.originName'}}" class="resource-label">
						{{localize 'ordemparanormal.originName'}}
					</label>
					<div class="resource-content flexrow flex-center flex-between">
						<select name="data.origin" data-dtype="String">
							{{
								selectOptions optionOrigins
								selected=data.origin 
								localize=true
								blank="—"
							}}
						</select>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="{{localize 'ordemparanormal.trilhasName'}}" class="resource-label">
						{{localize 'ordemparanormal.trilhasName'}}
					</label>
					<div class="resource-content flexrow flex-center flex-between">
						{{#if data.class }}
						<select name="data.trilha" data-dtype="String">
							{{
								selectOptions (concatObjAndStr optionTrilhas data.class)
								selected=data.trilha
								nameAttr="name" labelAttr="label"
								blank="—"
								localize=true
							}}
						</select>
						{{else}}
						<select disabled>
							<option>Chegue ao NEX 10%</option>
						</select>
						{{/if}}
					</div>
				</div>

				<div class="resource flex-group-center">
					<label
						for="{{localize 'ordemparanormal.defense'}}"
						class="resource-label"
						>{{localize 'ordemparanormal.defense'}}</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input
							type="text"
							name="data.defense.value"
							value="{{data.defense.value}}"
							data-dtype="Number" 
							disabled
						/>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label
						for="{{localize 'ordemparanormal.dodge'}}"
						class="resource-label"
						>{{localize 'ordemparanormal.dodge'}}</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input
							type="text"
							name="data.defense.dodge"
							value="{{data.defense.dodge}}"
							data-dtype="Number" 
							disabled
						/>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label
						for="data.attributes.agi.value"
						class="resource-label"
						>{{localize 'ordemparanormal.AttAgi'}}</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input
							type="text"
							name="data.attributes.agi.value"
							value="{{data.attributes.agi.value}}"
							data-dtype="Number"
						/>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label
						for="data.attributes.int.value"
						class="resource-label"
						>{{localize 'ordemparanormal.AttInt'}}</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input
							type="text"
							name="data.attributes.int.value"
							value="{{data.attributes.int.value}}"
							data-dtype="Number"
						/>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label
						for="data.attributes.vig.value"
						class="resource-label"
						>{{localize 'ordemparanormal.AttVig'}}</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input
							type="text"
							name="data.attributes.vig.value"
							value="{{data.attributes.vig.value}}"
							data-dtype="Number"
						/>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label
						for="data.attributes.pre.value"
						class="resource-label"
						>{{localize 'ordemparanormal.AttPre'}}</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input
							type="text"
							name="data.attributes.pre.value"
							value="{{data.attributes.pre.value}}"
							data-dtype="Number"
						/>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label
						for="{{localize 'ordemparanormal.AttFor'}}"
						class="resource-label"
						>{{localize 'ordemparanormal.AttFor'}}</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input
							type="text"
							name="data.attributes.for.value"
							value="{{data.attributes.for.value}}"
							data-dtype="Number"
						/>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label
						for="{{localize 'ordemparanormal.deslocamento'}}"
						class="resource-label"
						>{{localize 'ordemparanormal.deslocamento'}}</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input
							type="text"
							name="data.desloc.value"
							value="{{data.desloc.value}}"
							data-dtype="Number"
							disabled
						/>
					</div>
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{!-- Default tab is specified in actor-sheet.mjs --}}
		<a class="item" data-tab="features">Features</a>
		<a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="items">Items</a>
		<a class="item" data-tab="spells">Spells</a>
		<a class="item" data-tab="effects">Effects</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Owned Features Tab --}}
		<div class="tab features" data-group="primary" data-tab="features">
			<section class="grid grid-2col">
				<aside class="sidebar">
					{{!-- The grid classes are defined in
					scss/global/_grid.scss. To use, use both the "grid" and
					"grid-Ncol" class where "N" can be any number from 1 to 12
					and will create that number of columns. --}}
					<div class="abilities flexcol">
						{{#each data.skills as |skillName key|}}
						<div class="ability flexrow flex-group-center">
							<label
								for="data.skills.{{key}}.value"
								class="resource-label rollable flexlarge align-left"
								data-roll="{{skillName.formula}}"
								data-label="{{skillName.label}}"
								>{{skillName.label}}
							</label>
							<select class="trainingDegree_SB" name="data.skills.{{key}}.degree.label" data-dtype="String">
								{{
									selectOptions ../optionDegree
									selected=skillName.degree.label 
									localize=true
								}}
							</select>
							<input
								type="text"
								name="data.skills.{{key}}.mod"
								value="{{skillName.mod}}"
								data-dtype="Number"
							/>
						</div>
						{{/each}}
					</div>
				</aside>

				{{!-- For the main features list, span the right two columns
				--}}
				<section class="main grid-span-1">
					{{!-- This is a Handlebars partial. They're stored in the
					`/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
					{{>"systems/ordemparanormal/templates/actor/parts/actor-features.html"}}
				</section>
			</section>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{!-- If you want TinyMCE editors to output inline rolls when
			rendered, you need to pass the actor's roll data to the rollData
			property. --}} {{editor content=data.biography
			target="data.biography" rollData=rollData button=true owner=owner
			editable=editable}}
		</div>

		{{!-- Owned Items Tab --}}
		<div class="tab items" data-group="primary" data-tab="items">
			{{>
			"systems/ordemparanormal/templates/actor/parts/actor-items.html"}}
		</div>

		{{!-- Owned Spells Tab --}}
		<div class="tab spells" data-group="primary" data-tab="spells">
			{{>
			"systems/ordemparanormal/templates/actor/parts/actor-spells.html"}}
		</div>

		{{!-- Active Effects Tab --}}
		<div
			class="tab effects flexcol"
			data-group="primary"
			data-tab="effects"
		>
			{{>
			"systems/ordemparanormal/templates/actor/parts/actor-effects.html"}}
		</div>
	</section>
</form>
