<div class="ordemparanormal chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}">
	<div class="header">
		<img src="{{item.img}}" title="{{item.name}}" width="36px" height="36px" style="float: left" />
		<h2>{{item.name}}</h2>
		{{log data}}
	</div>
	{{#if data.circle}} {{#if data.element}}
	<span class="element {{data.element}}">{{localize (concat "op.elementChoices." data.element)}} {{data.circle}}</span>
	{{/if}}
	<div class="ritual-info">
		{{#if data.execution}}
			<p>
				<strong>{{localize "op.execution"}}:</strong>
				<span class="lowercase">{{localize (concat "op.executionChoices." data.execution)}}</span>
			</p>
		{{/if}}
		{{#if data.range}}
			<p>
				<strong>{{localize "op.range"}}:</strong>
				<span class="lowercase">{{localize (concat "op.rangeChoices." data.range)}}</span>
			</p>
		{{/if}}
		{{#if data.target}}
			<p>
				<strong>
					{{#ifEquals data.target "area"}}
						{{localize (concat "op.targetChoices." data.target)}}:
					{{/ifEquals}}
					{{#ifInequals data.target "area"}}
						{{localize 'op.target'}}:
					{{/ifInequals}}
				</strong>
				<span class="lowercase">{{#ifInequals data.target "area"}}
						{{#ifEquals data.target "people"}}{{data.targetQtd}}{{/ifEquals}}
						{{#ifEquals data.target "creatures"}}{{data.targetQtd}}{{/ifEquals}}
						{{localize (concat "op.targetChoices." data.target)}}
				{{/ifInequals}}
				{{#ifEquals data.target "area"}}{{i18n.areaLabel}}{{/ifEquals}}</span>
			</p>
		{{/if}}
		{{#if data.duration}}
		<p>
			<strong>{{localize "op.duration"}}:</strong>
			<span class="lowercase">{{localize (concat "op.durationChoices." data.duration)}}</span>
		</p>
		{{/if}}
		{{#if data.resistance}}
			<p>
				<strong>{{localize "op.resistance"}}:</strong>
				<span class="lowercase">{{localize (concat "op.skill." data.skillResis)}}
				{{localize (concat "op.resistanceChoices." data.resistance)}}</span>
			</p>
		{{/if}}
	</div>
	{{/if}}
	<h4>
		<details>
			<summary>{{localize "op.description"}}</summary>
			{{{item.system.description}}}
		</details>
	</h4>
	{{#ifEquals item.type "armament"}}
		<table>
			<tr>
				<th>{{localize "op.damage"}}</th>
				<th>{{localize "op.critical"}}</th>
				<th>{{localize "op.range"}}</th>
			</tr>
			<tr>
				<td>{{item.system.formulas.damage.formula}} {{#each item.system.formulas.damage.parts}}{{this.[0]}} {{/each}}</td>
				<td>{{data.critical}}</td>
				<td>{{data.range}}</td>
			</tr>
		</table>
	{{/ifEquals}}
	<div class="card-buttons">
		{{#if data.formulas.attack}}
		<button data-action="attack"><i class="fa-solid fa-dice-d20"></i> {{localize "op.rollAtk"}}</button>
		{{/if}} {{#if data.formulas.damage}}
		<button data-action="damage"><i class="fa-solid fa-dice"></i> {{localize "op.rollDmg"}}</button>
		{{/if}}
		<!-- {{#if data.studentForm}}
		<button data-action="attack">
			<i class="fa-solid fa-dice-d20"></i> Forma Discente
		</button>
		{{/if}} {{#if data.trueForm}}
		<button data-action="attack">
			<i class="fa-solid fa-dice-d20"></i> Forma Verdadeira
		</button>
		{{/if}} -->
	</div>
	<footer class="card-footer">
		{{#each info}}
		<span>{{this}}</span>
		{{/each}}
	</footer>
</div>
