<div class="chat-card oposto-request">
	<header class="card-header">
		<h3>{{localize "op.opostoCardTitle"}}</h3>
		<p>{{skillLabel}}</p>
	</header>
	<div class="card-buttons">
		<button type="button" data-action="rollOposto" data-skill="{{skillKey}}" data-visibility="all">
			<i class="fa-solid fa-dice-d20"></i>
			{{localize "op.opostoButton"}}
		</button>
	</div>
</div>