<section class="tab general {{tab.cssClass}} scrollable" data-group="primary" data-tab="generalAttr">
	<div class="content-item">

		<div class="general-attributes-section op-shadow">
			<div class="section-title">Atributos Gerais</div>

			<div class="resource grid grid-2col">
				<label class="resource-label">{{localize "op.category"}}</label>
				<div class="categoryCheck">
					{{radioBoxes "system.category" categories checked=system.category}}
				</div>
			</div>
		</div>

	</div>
</section>