<section class="tab general {{tab.cssClass}} scrollable" data-group="primary" data-tab="generalAttr">
	<div class="content-item" style="padding: 10px;">

		<div class="general-attributes-section">
			<div class="section-title">Atributos Gerais</div>

			<div class="grid">
				<label class="resource-label">{{localize "op.category"}}</label>
				<input type="text" name="system.category" value="{{system.category}}" data-dtype="String" />

			</div>
		</div>

	</div>
</section>