.card-buttons button {
	&:first-of-type {
		margin-bottom: 2px;
	}
}

.card-footer span {
	color: #161616;
	font-size: 11px;
	padding: 2px 3px;
	border-radius: 6px;
	border: 1px solid #00000030;
}

.chat-card {
	details {
		padding: 4px 4px;
		border: 1px solid #b8b8b8;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
		border-radius: 5px;
		font-family: $op-warnock;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		summary {
			margin-left: 4px;
		}
	}

	span.element {
		display: inline-block;
		font-size: 12px;
		color: #fff;
		padding: 1px 4px;
		margin-top: 4px;
		margin-bottom: 1px;
		text-transform: uppercase;
		font-family: $op-optima;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: bold;
		&.death {
			background-color: #000;
		}

		&.blood {
			background-color: #b1161a;
		}

		&.knowledge {
			background-color: #bf9100;
		}

		&.energy {
			background-color: #9a00fd;
		}

		&.fear {
			background-color: #b8b8b8;
		}
	}

	.ritual-info {
		font-family: $op-optima;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		strong {
			color: #b92730;
		}
	}

	table {
		tr {
			text-align: center;
			th,
			td {
				padding: 5px;
			}
		}
	}

	.header {
		display: flex;
		width: 100%;
		align-items: center;
		padding: 6px 0;
		h2 {
			padding: 0 6px;
			margin: 0;
			border: 0;
		}
	}
}
