@use "../utils/typography";
@use "../utils/colors";
@use "../utils/variables";

.card-buttons {
	position: relative;
	display: flex;
	width: 100%;
	flex-grow: 1;
	gap: variables.$spacing-sm;

	button {
		width: 100%;
		justify-content: center;
		align-items: center;
		height: 2em;
		min-height: 2em;
		gap: 0.25rem;
		padding: 0 0.5rem;
		background: colors.$c-overlay-light;
		border: 1px solid colors.$c-gray-medium;
		border-radius: variables.$radius-md;
		color: colors.$c-gray-darkest;
		font-family: "Signika", "Palatino Linotype", sans-serif;
		font-size: 0.875rem;
		line-height: normal;
		text-decoration: none;
		cursor: pointer;
		transition: 0.5s;

		&:hover {
			background: colors.$c-gray-dark;
			color: colors.$c-gray-lighter;
		}
	}
	&:first-of-type {
		margin-bottom: variables.$spacing-xs;
	}
}

.card-footer {
	margin-top: variables.$spacing-md;

	span {
		color: colors.$c-gray-darkest;
		font-size: variables.$font-sm;
		padding: variables.$spacing-xs variables.$spacing-xs;
		border-radius: variables.$radius-xl;
		border: 1px solid colors.$c-overlay-medium;
	}
}

.chat-card {
	details {
		padding: variables.$spacing-sm variables.$spacing-sm;
		border: 1px solid colors.$c-gray-light;
		box-shadow: colors.$c-overlay-light 0px 1px 2px 0px;
		border-radius: variables.$radius-lg;
		font-family: typography.$op-warnock;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: variables.$font-lg;

		summary {
			margin-left: variables.$spacing-sm;
		}

		p {
			hyphens: auto;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 !important;
	}

	span.element {
		display: inline-block;
		font-size: variables.$font-md;
		color: colors.$c-white;
		padding: 1px variables.$spacing-sm;
		margin-top: variables.$spacing-sm;
		margin-bottom: 1px;
		text-transform: uppercase;
		font-family: typography.$op-optima;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: bold;
		&.death {
			background-color: colors.$c-black;
		}

		&.blood {
			background-color: #b1161a;
		}

		&.knowledge {
			background-color: #bf9100;
		}

		&.energy {
			background-color: #9a00fd;
		}

		&.fear {
			background-color: colors.$c-gray-light;
		}
	}

	.ritual-info {
		font-family: typography.$op-optima;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		strong {
			color: #b92730;
		}
	}

	table {
		margin: variables.$spacing-lg 0;
		tr {
			text-align: center;
			th,
			td {
				padding: variables.$padding-sm;
			}
		}
	}

	.header {
		display: flex;
		width: 100%;
		align-items: center;
		padding: variables.$spacing-md 0;
		h2 {
			padding-left: variables.$spacing-md;
			border: 0;
			font-family:
				"Warnock Pro",
				"Signika" "Times New Roman",
				Times,
				serif;
			padding-top: variables.$spacing-lg;
		}
	}
}
