@use "../utils/colors";
@use "../utils/variables";

.dice-roll .dice-total {
	&.success {
		color: inherit;
		background: #c7d0c0;
		border: 1px solid #006c00;
	}
	&.failure {
		color: inherit;
		background: #ffdddd;
		border: 1px solid #6e0000;
	}
	&.critical {
		color: colors.$c-critical;

		small {
			font-size: variables.$font-xl;
		}
	}
	&.fumble {
		color: colors.$c-fumble;
	}
}

/* ---------------------------------- */
/*  Dice Rolls                        */
/* ---------------------------------- */

.dice-result {
	display: flex;
	flex-direction: column;

	.dice-tooltip {
		flex: none;
	}

	.dice-formula,
	.dice-total {
		border-radius: variables.$radius-sm;
		padding: 0.25rem;
		line-height: normal;
		flex: auto;
		margin: 0;
	}

	.wrapper,
	.dice-tooltip {
		padding-top: variables.$padding-sm;
	}

	.dice-total {
		font-weight: bold;
		padding: 0.125rem;
		margin-top: 0.25rem;
		position: relative;

		&::before,
		&::after {
			position: absolute;
			inset: variables.$spacing-md 0 variables.$spacing-md auto;
		}

		&::before {
			content: "";
			width: 36px;
			border-left: 1px solid colors.$c-gray-light;
		}

		&::after {
			transition: all 250ms ease;
		}

		&.critical,
		&.fumble {
			border-width: 3px;
			border-style: double;
		}

		> .icons {
			position: absolute;
			inset: 0 auto 0 variables.$spacing-xl;
			display: flex;
			gap: variables.$spacing-xs;
			align-items: center;
			opacity: 0.35;
		}
	}
}
