.dice-roll .dice-total {
	&.success {
	  color: inherit;
	  background: #c7d0c0;
	  border: 1px solid #006c00;
	}
	&.failure {
	  color: inherit;
	  background: #ffdddd;
	  border: 1px solid #6e0000;
	}
	&.critical {
	  color: green;

	  small {
		font-size: 15px;
	  }
	}
	&.fumble {
	  color: red;
	}
  }