.teste {
	background-color: black;
}

.no-scroll {
	overflow: hidden !important;
}

.scroll {
	overflow: auto !important;
}

.no-orange-hyperlink {
	color: initial;
	text-decoration: none;
}

.content-dialog {
	height: 500px;
	padding: 0 2px;
	line-height: 1.3;

	li {
		padding-top: 2px;
		padding-bottom: 2px;
	}

	a {
		box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
		&:hover,
		&:focus {
			color: #000;
			text-shadow: 0 0 10px rgb(255, 255, 255);
			cursor: pointer;
		}

		h1,
		h2,
		h3,
		h4 {
			border: 0;
			text-decoration: none;
			font-weight: 700;
		}

		.discord {
			color: white;
			text-shadow: 1px 1px 1px #000;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-family: 'PT Sans', 'Roboto', 'sans-serif';

			p {
				font-size: medium;
				font-weight: 700;
			}
		}
	}
}

.content-dialog::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.13);
	border: 0;
}

.announcement {
	position: relative;
	width: 100%;
	height: 156px;
	margin: 8px 0;
	border-radius: 5px !important;
	display: flex;

	background: {
		position: center !important;
		size: 100% 100% !important;
		repeat: no-repeat !important;
	}

	p {
		width: 100%;
	}
}

.content-dialog a:first-child .adverts {
	margin: 0;
}

.dialog-buttons {
	display: flex;

	button {
		height: 36px;
		opacity: 0.4;
		transition: all 0.2s ease-in;
	}

	button:hover {
		opacity: 1;
	}
}

.dialog-credits {
	li {
		padding-top: 2px;
		padding-bottom: 2px;
	}

	a {
		&:hover,
		&:focus {
			color: #000;
			text-shadow: 0 0 10px rgb(255, 255, 255);
			cursor: pointer;
		}

		h1,
		h2,
		h3,
		h4 {
			border: 0;
			text-decoration: none;
			font-weight: 700;
		}
	}

	a[href] {
		color: #464646;
	}
}
