.item-form {
  font-family: $font-primary;
}

.header-identify {
  display: flex;
  justify-content: center;
  align-items: center;

  h1, h2, h3, h4 {
    border: 0;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 48px;
    height: 48px;
    margin-right: 10px;
  }

  .header-fields {
    flex: 1;
  }
}

.sheet-tabs {
  flex: 0;
}

// .sheet-body,
// .sheet-body .tab,
// .sheet-body .tab .editor {
//   width: 100%;
//   height: 100%;
// }

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.skills {
  gap: 2px;

  .skill {
    padding: 0 6px;

    input {
      max-width: 30px;
    }
  }
}