@use "../utils/variables";
@use "../utils/colors";

.application.item {
	ul,
	ol,
	h1,
	h2,
	h3,
	h4 {
		margin: 0;
		padding: 0;
	}

	.prosemirror menu,
	prosemirror menu {
		gap: 0;
		background: colors.$c-parchment-light;
	}

	.scrollable {
		box-sizing: border-box;
		width: 100%;
		padding: 0;
	}

	span.item-title-header {
		display: flex;
		justify-content: center;
		align-items: center;
		background: colors.$c-overlay-light;
		border: variables.$border-groove;
		padding: variables.$spacing-sm;
	}

	.resource-type {
		margin-top: 0;
		margin-right: 0;
		margin-bottom: variables.$spacing-lg;
		border: 1px solid colors.$c-overlay-dark;
		border-radius: variables.$radius-md;
		padding: variables.$spacing-lg;
	}

	.content-item {
		height: 100%;
		overflow-y: auto;
		padding-top: variables.$spacing-lg;
	}

	.section-attack {
		margin-bottom: variables.$spacing-2xl;
	}

	.attack-formula {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
	}

	.main-damage-formula {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		gap: variables.$spacing-sm;
	}

	.damage-formula {
		display: flex;
		flex-direction: row;
		gap: 40px;

		a {
			width: 10px;
		}
	}

	/* ITEM SHEET */

	.specifications {
		h4 {
			color: #16161670;
			border-bottom: 1px solid colors.$c-overlay-dark;
		}
	}

	.combat {
		h4 {
			color: #16161670;
			border-bottom: 1px solid colors.$c-overlay-dark;
		}

		.resource-label {
			font-size: variables.$font-base;
		}
	}

	.item-sheet-form {
		display: flex;
		flex: 1 10px;
		margin: variables.$spacing-xs 0px;
		align-items: center;
		flex-direction: row;

		input,
		select {
			width: 100%;
		}

		i {
			margin-left: variables.$spacing-md;
		}
	}

	.item-damage-bonus {
		flex: 2;
	}

	.minor-size {
		flex: 0 60px;
	}

	.item-sheet-controls {
		display: flex;
		flex: 0 0 20px;
		justify-content: flex-end;
		a {
			font-size: variables.$font-md;
			text-align: center;
			margin: 0 variables.$spacing-md;
		}
	}

	.item-sheet {
		.item-attribute {
			flex: 1;
			padding: 0 variables.$spacing-md;
		}
		.item-skill {
			flex: 1;
			padding: 0 variables.$spacing-md;
		}
		.item-bonus {
			flex: 2;
			padding: 0 variables.$spacing-md;
		}
	}

	.damage-box {
		color: #00000070;
		padding: variables.$spacing-md;
		text-align: center;
		border-bottom: 1px dashed colors.$c-overlay-dark;

		a:hover {
			color: colors.$c-gray-medium;
		}
	}

	.damage-control {
		.fa-trash {
			font-size: variables.$font-md;
		}
	}

	.delete-damage,
	.promote-part {
		margin-right: 15px;
	}

	/* Damage formula tree structure */
	.container-formula {
		position: relative;
		padding-left: 0px;
		font-family: sans-serif;
	}

	.part-damage-section {
		padding-left: variables.$spacing-2xl;
		padding-top: variables.$spacing-lg;
	}

	/* Vertical main line */
	.linhas-adicionais::before {
		content: "";
		position: absolute;

		/* Position */
		left: 15px;
		top: 50px;
		bottom: 52px;

		/* Style */
		width: 2px;
		background-color: colors.$c-gray-light;
		border-radius: variables.$spacing-xs;
	}

	/* Prepare each secondary line */
	.linha-secundaria {
		position: relative;
		margin-left: 25px;
		margin-bottom: variables.$padding-sm;
	}

	/* Horizontal connecting lines */
	.linha-secundaria::before {
		content: "";
		position: absolute;

		/* Position */
		top: 50%;
		left: -30px;

		/* Style */
		width: 30px;
		height: 2px;
		background-color: colors.$c-gray-light;
		border-radius: variables.$spacing-xs;
	}

	.linha-principal,
	.linha-secundaria {
		display: flex;
		align-items: center;
		gap: variables.$spacing-md;
	}
}
