@use "../utils/colors";
@use "../utils/variables";

.op {
	&.system-badge {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: variables.$spacing-md;

		img {
			border: 0;
		}

		p {
			margin: 0;
		}

		a[href] {
			color: var(--color-text-light-highlight);
			text-decoration: none;
		}
	}
}
