<section class="config-section">
	<div class="content-item scrollable">

		<div class="form-group-row op-shadow flexrow config-item">
			<input type="checkbox" name="system.disableCalculations" {{checked system.disableCalculations}} />
			<div class="config-text">
				<label class="resource-label">Desativar Cálculos Derivados</label>
				<p class="notes">
					Desativa os cálculos automáticos de PV, PE, PD e SAN da ficha, permitindo o preenchimento manual irrestrito.
				</p>
			</div>
		</div>

	</div>

	<footer class="sheet-footer flexrow">
		<button type="submit">
			<i class="fas fa-save"></i>
			Salvar Configurações
		</button>
	</footer>
</section>