<form class="{{cssClass}} {{actor.type}} threat" autocomplete="off">
	<div class="header-identify align-center grid grid-3col">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
		<h1 class="charname">
			<input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
		</h1>
	</div>
	<div class="flex">
		<div class="grid">VD <input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Habilidades<input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Elementos<input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Tamanho <input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Presença Pertubadora <input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Sentidos<input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Defesa <input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Resistências <input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Pontos de Vida <input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Resistências gerais <input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Vulnerabilidades <input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Atributos da Ameaça <input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Deslocamento <input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Ações <input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Descrição de Criatura <input type="text" name="" value="" placeholder="" /></div>
		<div class="grid">Enigma de Medo <input type="text" name="" value="" placeholder="" /></div>
	</div>
</form>
