<form class="{{cssClass}} itemsheet flexcol" autocomplete="off">
	<header class="sheet-header-op">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">{{localize "op.description"}}</a>
		<a class="item" data-tab="attributes">{{localize "op.attributesItem"}}</a>
		<a class="item" data-tab="effectsItem">{{localize "op.tab.effects"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		<div class="tab description" data-group="primary" data-tab="description">
			<div class="content">
				{{editor enriched.description target="system.description"
				 rollData=rollData button=true owner=owner editable=editable}}
			</div>
		</div>

		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			<div class="content">
				<div class="resource grid align-items-center">
					<label class="resource-label">{{localize "op.powerType"}}</label>
					<select name="system.abilityType" data-dtype="String">
						{{ selectOptions optionPowerType selected=system.abilityType localize=true blank="—" }}
					</select>
					<label class="resource-label">{{localize "op.preRequisite"}}</label>
					<input type="text" name="system.preRequisite" value="{{system.preRequisite}}" data-dtype="String" />
				</div>
			</div>
		</div>

		<div class="tab effects" data-group="primary" data-tab="effectsItem">
			<div class="content">
				{{>"systems/ordemparanormal/templates/actor/parts/actor-effects.html"}}
			</div>
		</div>
	</section>
</form>
