<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "ordemparanormal.description"}}</a>
    <a class="item" data-tab="attributes">{{localize "ordemparanormal.attributesItem"}}</a>
    <a class="item" data-tab="effectsItem">{{localize "ordemparanormal.tab.effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="resource grid align-items-center">
        <label class="resource-label">{{localize "ordemparanormal.circle"}}</label>
        <input type="number" name="data.circle" value="{{data.circle}}" data-dtype="Number"/>
		<label class="resource-label">{{localize "ordemparanormal.execution"}}</label>
		<select name="data.execution" data-dtype="String">
			{{ selectOptions optionExecution selected=data.execution  localize=true blank="—" }}
		</select>
        <label class="resource-label">{{localize "ordemparanormal.range"}}</label>
        <input type="text" name="data.range" value="{{data.range}}" data-dtype="String"/>
        <label class="resource-label">{{localize "ordemparanormal.areaEffect"}}</label>
        <input type="text" name="data.areaEffect" value="{{data.areaEffect}}" data-dtype="String"/>
        <label class="resource-label">{{localize "ordemparanormal.duration"}}</label>
        <input type="text" name="data.duration" value="{{data.duration}}" data-dtype="String"/>
        <label class="resource-label">{{localize "ordemparanormal.resistance"}}</label>
        <input type="text" name="data.resistance" value="{{data.resistance}}" data-dtype="String"/>
      </div>
      <div class="resource grid grid-2col align-items-center">
        <label class="resource-label">{{localize "ordemparanormal.studentForm"}}</label>
        <input type="checkbox" name="data.studentForm" {{checked data.studentForm}}>
        <label class="resource-label">{{localize "ordemparanormal.trueForm"}}</label>
        <input type="checkbox" name="data.trueForm" {{checked data.trueForm}}>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="effectsItem">
      {{>"systems/ordemparanormal/templates/actor/parts/actor-effects.html"}}
    </div>
  </section>
</form>
