<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "ordemparanormal.description"}}</a>
    <a class="item" data-tab="specifications">{{localize "ordemparanormal.specificationsItemTab"}}</a>
    <a class="item" data-tab="combat">{{localize "ordemparanormal.combatItemTab"}}</a>
    <a class="item" data-tab="effectsItem">{{localize "ordemparanormal.tab.effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Specifications Tab --}}
    <div class="tab specifications" data-group="primary" data-tab="specifications">
      <div class="resource grid grid-4col align-items-center">
        <label class="resource-label">{{localize "ordemparanormal.quantity"}}</label>
        <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" placeholder="Quantos deste item?"/>
        <label class="resource-label">{{localize "ordemparanormal.space"}}</label>
        <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" placeholder="Quanto o item pesa?"/>
      </div>
      <div class="resource grid grid-2col">
        <label class="resource-label">{{localize "ordemparanormal.category"}}</label>
        <div>{{radioBoxes 'system.category' categories checked=system.category}}</div>
      </div>
      <div class="resource grid grid-2col">
        <label class="resource-label">{{localize "ordemparanormal.proficiency"}}</label>
        <select name="system.proficiency" data-dtype="String">
          {{ selectOptions optionProficiency selected=system.proficiency  localize=true blank="—" }}
        </select>
      </div>
      <div class="resource grid grid-2col">
        <label class="resource-label">{{localize "ordemparanormal.gripType"}}</label>
        <select name="system.types.gripType" data-dtype="String">
          {{ selectOptions optionGripType selected=system.types.gripType  localize=true blank="—" }}
        </select>
      </div>
      
      <h4>Condições do Armamento</h4>
      <div class="resource align-items-center align-center">
        <label class="resource-label">Improvisada</label>
        <input type="checkbox" name="system.conditions.improvised" {{checked system.conditions.improvised}}>
        <label class="resource-label">Arremessável</label>
        <input type="checkbox" name="system.conditions.throwable" {{checked system.conditions.throwable}}>
        <label class="resource-label">Arma Ágil</label>
        <input type="checkbox" name="system.conditions.agile" {{checked system.conditions.agile}}>
        <label class="resource-label">Automática</label>
        <input type="checkbox" name="system.conditions.automatic" {{checked system.conditions.automatic}}>
        <label class="resource-label">Empunhadura Adaptável</label>
        <input type="checkbox" name="system.conditions.adaptableGrip" {{checked system.conditions.adaptableGrip}}>
        <label class="resource-label">Coronhada</label>
        <input type="checkbox" name="system.conditions.pistolBlow" {{checked system.conditions.pistolBlow}}>
      </div>
    </div>

    {{!-- Combat Tab --}}
    <div class="tab combat" data-group="primary" data-tab="combat">
      <h4>Detalhes de Combate</h4>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">{{localize "ordemparanormal.range"}}</label>
          <input type="text" name="system.range" value="{{system.range}}" data-dtype="String" placeholder="Ex.: curto, médio, longo"/>
        </div>
		<div class="resource">
			<label class="resource-label">{{localize "ordemparanormal.critical"}}</label>
			<input type="text" name="system.critical" value="{{system.critical}}" data-dtype="String" placeholder="Ex.: 20/x2"/>
		</div>
      </div>
      <fieldset class="resource-type grid align-items-center">
        <legend>Tipos</legend>
        <label class="resource-label">{{localize "ordemparanormal.weaponType"}}</label>
        <select name="system.types.rangeType.name" data-dtype="String">
          {{ selectOptions optionWeaponType selected=system.types.rangeType.name  localize=true blank="—" }}
        </select>
        {{#ifEquals system.types.rangeType.name "ranged" }}
        <label class="resource-label">{{localize "ordemparanormal.subtypeWeapon"}}</label>
        <select name="system.types.rangeType.subRangeType" data-dtype="String" {{inputValid system.types.rangeType.name "ranged" }}
          {{ selectOptions optionWeaponSubType selected=system.types.rangeType.subRangeType localize=true blank="—" }}
        </select>
        <label class="resource-label">{{localize "ordemparanormal.ammunitionType"}}</label>
        <select name="system.types.ammunitionType" data-dtype="String" {{inputValid system.types.rangeType.name "ranged" }}>
          {{ selectOptions optionWeaponAmmunition selected=system.types.ammunitionType  localize=true blank="—" }}
        </select>
        {{/ifEquals}}
      </fieldset>

      <ol class="items-list">
        <fieldset class="resource-type">
          <legend>Formulas de Rolagem</legend>
        <h4 class="">Formula de Ataque</h4>
        <li class="item flexrow" data-item-id="{{item._id}}">
            <!-- TODO: função pendente de ataque -->
          <div class="item-sheet-select item-sheet-prop">
            <select name="system.formulas.attack.attr" data-dtype="String">
              {{ selectOptions attributes selected=system.formulas.attack.attr localize=true blank="—" }}
            </select>
            <i class="fa-solid fa-dice-d20"></i>
          </div>
          <div class="item-sheet-select item-sheet-prop">
            <select name="system.formulas.attack.skill" data-dtype="String">
              {{ selectOptions attackSkills selected=system.formulas.attack.skill localize=true blank="—" }}
            </select>
            <i class="fa-solid fa-plus"></i>
          </div>
          <div class="item-sheet-space item-sheet-prop">
            <input type="text" name="system.formulas.attack.bonus" value="{{system.formulas.attack.bonus}}" data-dtype="String" placeholder="Adicione um bônus"/>
          </div>
        </li>
			<ol class="items-list">
				<h4 class="item-info-title">Formula de Dano</h4>
				<li class="damage-part item flexrow" data-item-id="{{item._id}}">
					<div class="item-sheet-form item-sheet-prop">
						<input type="text" name="system.formulas.damage.formula" value="{{system.formulas.damage.formula}}" data-dtype="String" placeholder="Dados"/>
						<i class="fa-solid fa-plus"></i>
					</div> 
					<div class="item-sheet-form item-sheet-prop">
						<select name="system.formulas.damage.attr" data-dtype="String">
						{{ selectOptions attributes selected=system.formulas.damage.attr localize=true blank="—" }}
						</select>
						<i class="fa-solid fa-diamond"></i>
					</div>
					<!-- <div class="item-sheet-space item-sheet-prop item-damage-bonus">
						<input type="text" name="system.formulas.damage.bonus" value="{{system.formulas.damage.bonus}}" data-dtype="String" placeholder="Adicione um bônus"/>
					</div> -->
					<div class="item-sheet-form item-sheet-prop">
						<select name="system.formulas.damage.type" data-dtype="String">
						  {{ selectOptions optionDamageType selected=system.formulas.damage.type  localize=true blank="—" }}
						</select>
					</div>
				</li>
				{{#each system.formulas.damage.parts as |part i| }}
				<li class="damage-part item flexrow" data-item-id="{{item._id}}" data-damage-part="{{i}}">
					<div class="ramification">
						<div class="vertical"></div>
						<div class="horizontal"></div>
					</div>
					<div class="flex4 item-sheet-form item-sheet-prop">
						<!-- TODO: Criar função de ataques de multiplos ataques com hierarquias -->
						<!-- <a class="damage-control promote-part"><i class="fas fa-chevron-left"></i></a> -->
						<a class="damage-control delete-damage"><i class="fas fa-trash"></i></a>
						<input type="text" name="system.formulas.damage.parts.{{i}}.0" value="{{lookup this "0"}}" data-dtype="String" placeholder="Dados" data-formula-editor/>
						<i class="fa-solid fa-dice"></i>
					</div> 
					<div class="flex2-5 item-sheet-form item-sheet-prop">
						<select name="system.formulas.damage.parts.{{i}}.1" data-dtype="String">
						  {{ selectOptions ../optionDamageType selected=(lookup this "1")  localize=true blank="—" }}
						</select>
					</div>
				</li>
				{{/each}}
				<div class="damage-box">
					<a class="damage-control add-damage"><i class="fas fa-plus"></i> Adicione mais uma formula</a>
				</div>
			</ol>

        </fieldset>
      </ol>
    </div>
    

    <div class="tab effects" data-group="primary" data-tab="effectsItem">
      {{>"systems/ordemparanormal/templates/actor/parts/actor-effects.html"}}
    </div>
  </section>
</form>
