<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img
			class="profile-img"
			src="{{item.img}}"
			data-edit="img"
			title="{{item.name}}"
		/>
		<div class="header-fields">
			<h1 class="charname">
				<input
					name="name"
					type="text"
					value="{{item.name}}"
					placeholder="Name"
				/>
			</h1>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description"
			>{{localize "ordemparanormal.description"}}</a
		>
		<a class="item" data-tab="attributes"
			>{{localize "ordemparanormal.attributesItem"}}</a
		>
		<a class="item" data-tab="effectsItem"
			>{{localize "ordemparanormal.tab.effects"}}</a
		>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			{{editor system.description target="system.description"
			rollData=rollData button=true owner=owner editable=editable}}
		</div>

		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			<div class="resource grid align-items-center">
				<label class="resource-label"
					>{{localize "ordemparanormal.circle"}}</label
				>
				<div>{{radioBoxes 'system.circle' degree checked=system.circle}}</div>

				<label class="resource-label"
					>{{localize "ordemparanormal.element"}}</label
				>
				<select name="system.element" data-dtype="String">
					{{ selectOptions optionElement selected=system.element localize=true
					blank="—" }}
				</select>

				<label class="resource-label"
					>{{localize "ordemparanormal.execution"}}</label
				>
				<select name="system.execution" data-dtype="String">
					{{ selectOptions optionExecution selected=system.execution
					localize=true blank="—" }}
				</select>

				<label class="resource-label"
					>{{localize "ordemparanormal.range"}}</label
				>
				<select name="system.range" data-dtype="String">
					{{ selectOptions optionRange selected=system.range localize=true
					blank="—" }}
				</select>

				<label class="resource-label"
					>{{localize "ordemparanormal.target"}}</label
				>
				<div>
					<select name="system.target" data-dtype="String">
						{{ selectOptions optionTarget selected=system.target localize=true
						blank="—" }}
					</select>
					{{#ifEquals system.target "people"}}
					<input
						type="text"
						name="system.targetQtd"
						value="{{system.targetQtd}}"
						data-dtype="String"
						placeholder="Quantidade"
						style="width: 90px"
					/>
					{{/ifEquals}}
				</div>

				{{#ifEquals system.target "area"}}
				<label class="resource-label"
					>{{localize "ordemparanormal.areaEffect"}}</label
				>
				<div>
					<select name="system.area.name" data-dtype="String">
						{{ selectOptions optionArea selected=system.area.name localize=true
						blank="—" }}
					</select>
					<input
						type="text"
						name="system.area.size"
						value="{{system.area.size}}"
						data-dtype="String"
						placeholder="Tamanho"
						style="width: 90px"
					/>
					<select
						name="system.area.type"
						data-dtype="String"
						style="width: 50px"
					>
						{{ selectOptions optionAreaType selected=system.area.type
						localize=true blank="—" }}
					</select>
				</div>
				{{/ifEquals}}

				<label class="resource-label"
					>{{localize "ordemparanormal.duration"}}</label
				>
				<select name="system.duration" data-dtype="String">
					{{ selectOptions optionDuration selected=system.duration localize=true
					blank="—" }}
				</select>

				<label class="resource-label"
					>{{localize "ordemparanormal.resistance"}}</label
				>
				<div>
					<select name="system.resistance" data-dtype="String">
						{{ selectOptions optionResistance selected=system.resistance
						localize=true blank="—" }}
					</select>
					{{#if system.resistance}}
					<select name="system.skillResis" data-dtype="String">
						{{ selectOptions optionSkillResis selected=system.skillResis
						localize=true blank="—" }}
					</select>
					{{/if}}
				</div>
			</div>
			<div class="resource grid grid-2col align-items-center">
				<label class="resource-label"
					>{{localize "ordemparanormal.studentForm"}}</label
				>
				<input
					type="checkbox"
					name="system.studentForm"
					{{checked
					system.studentForm}}
				/>
				<label class="resource-label"
					>{{localize "ordemparanormal.trueForm"}}</label
				>
				<input
					type="checkbox"
					name="system.trueForm"
					{{checked
					system.trueForm}}
				/>
			</div>
		</div>

		<div class="tab" data-group="primary" data-tab="effectsItem">
			{{>"systems/ordemparanormal/templates/actor/parts/actor-effects.html"}}
		</div>
	</section>
</form>
