<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Quantity</label>
          <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Space</label>
          <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Categoria</label>
          <input type="text" name="data.category" value="{{data.category}}" data-dtype="String"/>
        </div>
        <!-- ADICIONAR UM DROPDOWN DE TIPO DE ARMA; DEVE TER SUBTIPOS PARA CORPO A CORPO E RANGED.
        OS RANGEDS TEM SUBTIPOS E TAMBÉM TIPOS DE MUNIÇÃO A SEREM UTILIZADOS. -->

        <div class="resource">
          <label class="resource-label">Proficiência</label>
          <select name="data.proficiency" data-dtype="String">
            {{
              selectOptions optionProficiency
              selected=data.proficiency 
              localize=true
              blank="—"
            }}
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">Tipo de Dano</label>
          <select name="data.types.damageType" data-dtype="String">
            {{
              selectOptions optionDamageType
              selected=data.types.damageType 
              localize=true
              blank="—"
            }}
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">Crítico</label>
          <input type="text" name="data.critical" value="{{data.critical}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label class="resource-label">Alcance</label>
          <input type="text" name="data.range" value="{{data.range}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label class="resource-label">Roll Formula</label>
          <input type="text" name="data.formula" value="{{data.formula}}" data-dtype="String"/>
        </div>
        <div class="resource grid align-items-center">
          <label class="resource-label">Tipo de Arma</label>
          <select name="data.types.rangeType.name" data-dtype="String">
            {{
              selectOptions optionWeaponType
              selected=data.types.rangeType.name 
              localize=true
              blank="—"
            }}
          </select>
          <label class="resource-label">Subtipo de Arma</label>
          <select name="data.types.rangeType.subRangeType" data-dtype="String" {{inputValid data.types.rangeType.name "ranged" }}
            {{
              selectOptions optionWeaponSubType
              selected=data.types.rangeType.subRangeType 
              localize=true
              blank="—"
            }}
          </select>
          <label class="resource-label">Tipo de Munição</label>
          <select name="data.types.ammunitionType" data-dtype="String" {{inputValid data.types.rangeType.name "ranged" }}>
            {{
              selectOptions optionWeaponAmmunition
              selected=data.types.ammunitionType 
              localize=true
              blank="—"
            }}
          </select>
          <label class="resource-label">Empunhadura</label>
          <select name="data.types.gripType" data-dtype="String">
            {{
              selectOptions optionGripType
              selected=data.types.gripType 
              localize=true
              blank="—"
            }}
          </select>
        </div>
      </div>
    </div>
  </section>
</form>
